.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    /* width: 100%; */
    max-width: 800px;
}
.auth-footer a {
    color:  #F79F1C;
    text-decoration: none;
  }
  
  .auth-footer a:hover {
    text-decoration: underline;
  }
  
  .auth-footer p {
    font-size: 14px;
    color: #555;
  }
  .btn-primary{
    background: #081250 !important;
    border: #081250 !important;
  }