src/components/AuthPage.css

/* Style global de la page */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
  }
  
  .auth-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.178);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .auth-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    color: #555;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 8px;
    background-color: #f9f9f9;
  }
  
  .input-field:focus {
    border-color: #F79F1C;
    outline: none;
  }
  
  .auth-btn {
    width: 106%;
    padding: 12px;
    background-color: #F79F1C;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-btn:hover {
    background-color: #F79F1C;
  }
  
  .auth-footer {
    margin-top: 20px;
  }
  
  .auth-footer a {
    color: #F79F1C;
    text-decoration: none;
  }
  
  .auth-footer a:hover {
    text-decoration: underline;
  }
  
  .auth-footer p {
    font-size: 14px;
    color: #555;
  }
  